Package: python3-single-version
Source: single-version
Version: 1.5.1-1
Architecture: all
Maintainer: Nguyễn Hồng Quân <ng.hong.quan@gmail.com>
Installed-Size: 24
Depends: python3-importlib-metadata | python3 (>> 3.8), python3:any
Section: python
Priority: optional
Homepage: https://github.com/hongquan/single-version
Description: Small utility to define version string for Poetry-style Pyth
 Utility to let you have a single source of version in your code base.
 This utility targets modern Python projects which have layout generated 
 by `Poetry`_, with a *pyproject.toml* file in place of *setup.py*. With 
 this layout, the project initially has two places to maintain version 
